<div class="color9" fxLayout="column" fxLayoutAlign="stretch" style="height:100%;width:100vw;">
  <div class="color6" [fxFlex]="80">
    <div class="color3" [fxFlex]="80">

    </div>
    <div class="color4" [fxFlex]="20" fxLayout="column" fxLayoutAlign="stretch" style="height:100%;">
      <div class="color1" [fxFlex]="25">

      </div>
      <div class="color2" [fxFlex]="25">

      </div>
      <div class="color1" [fxFlex]="25">

      </div>
      <div class="color2" [fxFlex]="25">

      </div>
    </div>
  </div>

  <div [fxFlex]="20">
    <div class="color8" [fxFlex]="25">

    </div>
    <div class="color7" [fxFlex]="25">

    </div>
    <div class="color8" [fxFlex]="25">

    </div>
    <div class="color7" [fxFlex]="25">

    </div>
  </div>
</div>
